body{
	word-wrap:break-word;
background-image:linear-gradient(rgba(255,0,0,1),rgba(0,0,50,1),rgba(0,0,0,1),rgba(0,0,200,1));
color:rgba(255,255,255,1);
}


#speaker_img{
	position:fixed;
	top:0;
	left:0;
	width:20px;
}


/*****************************************************/



/*******************************************************/


#image{
	text-align:center;
	margin-top:30px;
}
#image_img{
border-radius:100px;
background-image:linear-gradient(rgba(255,0,255,1),rgba(0,0,0,1),rgba(0,0,255,1));
width:100px;
	height:100px;
font-size:100px;

	border-width:5px;
	border-color:rgba(255,255,0,0.6);
	border-style:solid;
}


#image_emoji{
border-radius:40%;
background-image:linear-gradient(rgba(255,0,255,1),rgba(0,0,0,1),rgba(0,0,255,1));
font-size:100px;
display:none;
	height:auto;
	border-width:5px;
	border-color:rgba(255,255,0,0.6);
	border-style:solid;
}


#name_h1{
	text-align:center;
	font-family:Papyrus, fantasy;
	 color:rgba(0,200,255,1);
	 font-size:medium;
}


#about{

font-family:Arnoldboecklin, fantasy;
	margin:20px;
}
#about_p1{
		text-align:center;
	 color:rgba(255,255,0,1);
}

#about_p2{
	 color:rgba(255,255,255,1);
	 font-family:Courier New, Courier, monospace;
}

#body-footer-contact{
	background-color:rgba(100,100,100,1);
	padding:10px;
text-align:center;
}

#body-footer-contact-table{
width:100%;
}


