body{
	color:rgba(255,255,255,1);
	
	background-color:rgba(0,0,0,1);
	 animation-name: color-change;
	 animation-duration:20s;
	 animation-iteration-count: infinite;
	 
}



#image{
	text-align:center;
	margin-top:5%;
}
#image_img{
border-radius:50%;	
border-color:rgba(255,255,255,1);
border-width:5px;
border-style:solid;
background-image:linear-gradient(rgba(255,0,0,1),rgba(0,255,0,1),rgba(0,0,255,1));
width:25vw;
	height:auto;
	 animation-name: color-change-image;
	 animation-duration:20s;
	 animation-iteration-count: infinite;
}
#image_img:hover{
	visibility:hidden;

}
#image_img:active{
		visibility:hidden;
}
#name{
	text-align:center;
	
}
#name_h1{
	 color:rgba(0,255,255,1);
}


#about{
	text-align:center;
	
}
#about_p1{
	 color:rgba(0,255,0,1);
	 font-family:"Courier New", Courier, monospace;
}

#about_p2{
	 color:rgba(255,255,0,1);
	 font-family:"Courier New", Courier, monospace;
}

/*Animation*/


@keyframes color-change {
	  	  0% { background-color:rgba(0,0,0,1); }
        10% { background-color:rgba(100,0,100,1); }
		30% { background-color:rgba(200,0,200,1); }
    50% { background-color:rgba(255,0,200,1); }
     70% {  background-color:rgba(255,255,255,1);}
	 90% {  background-color:rgba(255,0,100,1);}
	  100% {  background-color:rgba(0,0,0,1);}
  
	  
}


@keyframes color-change-image {
	  	  0% { border-color:rgba(255,255,255,1); }
        10% { border-color:rgba(0,255,0,1); }
       50% { border-color:rgba(0,255,255,1); }
     100% {  border-color:rgba(255,255,0,1);}
  
	  
}

@media(max-width:900px){
	#image_img{
		width:40vw;
		
	}
	
}
